@import ../settings/vars/emd

.cover-image
  @extend %cover-image

#header
  display: table
  width: 100%
  height: $header-height
  &.internal-page
    background: rgba(0, 0, 0, .5)
    height: 85px
  h1
    position: fixed
    top: 0
    left: 0
    margin: 20px
    +breakpoints("mobile")
      position: absolute
    a
      @extend %logo
      text-decoration: none
  h2
    @extend %description
    +fill-parent
    margin-top: 103px
    +breakpoints("mobile")
      margin-top: 80px
