---
layout: default
single: true
body_id: post
---

<div class="content">
  <article role="article">
    {% include article.html %}
    <footer>
      {% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}

      {% include about.html %}

      <h4>Leia também:</h4>
      <div class="others-posts">
        {% if page.previous.url %}
          <a class="prev-post" href="{{page.previous.url}}" title="Post anterior: {{page.previous.title}}">
            {{page.previous.title}}
          </a>
        {% endif %}
        {% if page.next.url %}
          <a class="next-post" href="{{page.next.url}}" title="Próximo post: {{page.next.title}}">
            {{page.next.title}}
          </a>
        {% endif %}
      </div>
    </footer>
  </article>
  {{% if page.comments %}}
    <section class="post-comments">
      <header>
        <h2>Comentários:</h2>
      </header>
      <div  class="fb-comments"
            data-href="{{ site.url }}{{ page.url }}"
            data-width="100%"
            data-numposts="5"
            data-colorscheme="light">
      </div>
    </section>
  {{% endif %}}
</div>
