#post
  .content > article
    +span-columns(8)
    +shift(2)
    @extend %post-feed
    @extend %page-title
    margin-bottom: 0
    p
      font-size: rem(20px)
      line-height: rem(30px)
    footer
      .others-posts
        text-align: center
        margin: 35px 0 0 0
        padding: 0 10px
        border:
          width: 4px
          style: solid
          color: #CCC
          top: 0
          bottom: 0
        a
          +span-columns(4 of 8)
          display: block
          font-size: rem(18px)
          &.prev-post
            text-align: left
            &::before
              content: "«"
              margin-left: 3px
          &.next-post
            text-align: right
            float: right
            &::after
              content: "»"
              margin-right: 3px
